.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 600px;
  width: 1800px;
}

.card-1 {
  grid-area: 1 / 1 / 2 / 3;
}
.card-2 {
  grid-area: 1 / 3 / 2 / 4;
}
.card-3 {
  grid-area: 2 / 1 / 3 / 2;
}
.card-4 {
  grid-area: 2 / 2 / 3 / 4;
}
.card-5 {
  grid-area: 1 / 4 / 3 / 5;
}
.card-backoground {
  top: 30px;
  left: 300px;
}
